################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/output
/data/*
!/data/sample
# Dont commit config!
/config.json